<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>
  <% if (user) { %>
    <% if (user._json && user._json.picture) { %>
      <img src="<%= user._json.picture %>" alt="Profile Photo">
    <% } %>
    <h1>Hello <%= user.displayName %></h1>
    <a href="/logout" id="signOutButton">[Sign Out]</a>

    <% if (user.emails && user.emails.length > 0) { %>
      <p>You are signed in with email <%= user.emails[0].value %></p>
    <% }%>

    <p id="currentTime">Current Indian Time: <%= indianTime %></p>

    <label for="numLines">Number of Lines:</label>
    <input type="number" id="numLines" name="numLines" min="1" max="100">
    <button id="displayButton">Display</button>
    <div id="designContainer"></div>

    <script src="/script.js"></script>
  <% } else { %>
    <a href="/auth/google" id="signInButton">Sign in with Gmail</a>
  <% } %>
</body>

</html>
